

ul li a:hover{
    color: #0a58ca;
}
.nav-link {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Thêm transition */
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}
.product-image {
    max-width: 100%;
    height: auto;
}
.quantity-control {
    display: flex;
    align-items: center;
}
.quantity-control button {
    margin: 0 5px;
}
